#firstBox{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 20px;
    padding: 20px;
}

#secondBox{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 20px;
    padding: 20px;
}

#thirdBox{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px;
    padding: 20px;
}
